// Global Variables
$padding-global: 20px;
$padding-small: 10px;
$padding-horizontal: 10px;
$padding-vertical: 10px;
$padding-bottom: 10px;
$defaultwidth: 8.333%;

// Manufacturer Colors
$acura: #e82c2a;
$audi: #cd1f35;
$buick: #f26518;
$bmw: #1c69d4;
$cadillac: #9e1834;
$chevy: #f1b923;
$fiat: #b11636;
$ford: #2D96CD;
$gmc: #BC0A0F;
$honda: #2086c1;
$hyundai: #002D73;
$infiniti: #201d26;
$kia: #c4172c;
$lexus: #1a1a1a;
$lincoln: #231F1F;
$maserati: #0b2749;
$mazda: #df0000;
$mini: #ac2430;
$mb: #222222;
$mitsubishi: #ff0022;
$nissan: #c3002f;
$subaru: #20609F;
$toyota: #d71921;
$volvo: #003057;
$vw: #00B1EB;

$white: #FFFFFF;
$black: #000000;

$secondary:#00bae3;
$demo: #000021;	
$purple: #603a93;	


// Hover States

$acuradarken: darken($acura,15%);
$audidarken: darken($audi,15%);
$bmwdarken: darken($bmw,15%);
$chevydarken: darken($chevy,15%);
$forddarken: darken($ford,15%);
$gmcdarken: darken($gmc,15%);
$hondadarken: darken($honda,15%);
$hyundaidarken: darken($hyundai,15%);
$infinitidarken: darken($infiniti,15%);
$kiadarken: darken($kia,15%);
$lexusdarken: darken($lexus,15%);
$lincolndarken: darken($lincoln,15%);
$maseratidarken: darken($maserati,15%);
$mazdadarken: darken($mazda,15%);
$mbdarken: darken($mb,15%);
$mitsubishidarken: darken($mitsubishi,15%);
$nissandarken: darken($nissan,15%);
$subarudarken: darken($subaru,15%);
$toyotadarken: darken($toyota,15%);
$volvodarken: darken($volvo,15%);
$vwdarken: darken($vw,15%);


$purpledarken: darken($purple,15%);


$btncolor: #FFFFFF;

$white: #FFFFFF;
$grey: #e4e4e4;
$btncolor: #FFFFFF;


$left: left;
$center: center;
$right: right;
$justify: justify;

$bold: bold;
$normal: normal;

$overline: overline;
$underline: underline;
$linethrough: line-through;


$columncount: 2;


$manufacturers: (acura: $acura, audi: $audi, bmw: $bmw, buick: $buick, cadillac: $cadillac, chevy: $chevy, fiat: $fiat, ford: $ford, gmc: $gmc, honda: $honda, hyundai: $hyundai, infiniti: $infiniti, kia: $kia, lexus: $lexus, lincoln: $lincoln, maserati: $maserati, mazda: $mazda, mini: $mini, mb: $mb, mitsubishi: $mitsubishi, nissan: $nissan, subaru: $subaru, toyota: $toyota, volvo: $volvo, vw: $vw, grey: $grey, demo: $demo, white: $white, black: $black, secondary: $secondary, purple: $purple);
$textalignment: (left: $left, center: $center, right: $right, justify: $justify);
$fontsizes: (xs: 8px, sm: 10px, md: 18px, lg: 24px);
$fontweight: (bold: $bold, normal: $normal);
$textdecoration: (overline: $overline, underline: $underline, linethrough: $linethrough);


